<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG9_JwFmlJeBxC7TAhSZd2yA72v8Zm6pI</string>
	<key>GCM_SENDER_ID</key>
	<string>347219148350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>willD.TODO</string>
	<key>PROJECT_ID</key>
	<string>auth-66745</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-66745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347219148350:ios:efef98bb8f14361d1edb6f</string>
</dict>
</plist>